/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
aside {
  /* Width and position will be managed by Tailwind CSS classes */
  background-color: #f7fafc;
  border-right: 1px solid #e2e8f0;
  padding-top: 5rem; /* Add top padding for vertical centering */
  padding-bottom: 2rem; /* Add bottom padding for vertical centering */
}

nav {
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1rem 1.5rem; /* Adjust padding for better spacing */
  cursor: pointer;
  text-align: left;
}

/* Dark mode */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-black dark:text-white bg-white dark:bg-black;
}

/* Responsive adjustments */
@media (min-width: 800px) {
  aside {
    width: 16rem; /* Larger width on larger screens */
    position: sticky;
    top: 0;
    height: 100vh; /* Ensure full height on larger screens */
    overflow-y: auto; /* Add scroll if content exceeds height */
  }

  nav {
    padding: 1rem;
  }

  li {
    padding: 0.75rem 1rem; /* Adjusted padding for larger screens */
  }

  button {
    display: block;
    margin: 1rem auto;
  }
}

@media (max-width: 799px) {
  aside {
    position: fixed;
    bottom: 0; /* Position fixed to the bottom */
    left: 0;
    width: 100%;
    max-height: calc(100vh - 5rem); /* Adjust height to fit remaining viewport */
    overflow-y: auto; /* Add scroll if content exceeds height */
    z-index: 10; /* Ensure it's above content */
  }

  nav {
    padding: 0.5rem;
  }

  li {
    padding: 0.5rem 1rem; /* Adjusted padding for smaller screens */
  }

  button {
    display: block;
    margin: 1rem auto;
  }
}

/* Increase icon size */
svg {
  font-size: 1.5rem; /* Adjust icon size as needed */
}

/* Example of defining the icon-collapse class */
.icon-collapse {
  font-size: 2.5rem; /* Adjust size as needed */
  margin: 0.5rem 0; /* Adjust margin to bring icons closer together */
}